<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WanderLa</title>
</head>
<body>
    <h3>Edit your Listing</h3>
    <form method="post" action="/listings/<%=listing.id%>?_method=PUT">
        <label for="listing[title]"><b> Title: </b></label><br>
        <input size="50" type="text"  name="listing[title]" value="<%=listing.title%>">
        <br><br>
        <label for="listing[description]"><b> Description: </b></label><br>
        <textarea rows="5" cols="50" name="listing[description]" ><%=listing.description%></textarea>
        <br><br>
        <label for="listing[image]"><b> Image: </b></label><br>
        <input size="50" type="text"  name="listing[image]" value="<%=listing.image.url%>">
        <br><br>
        <label for="listing[price]"><b> Price: </b></label><br>
        <input type="number" name="listing[price]" value="<%=listing.price%>">
        <br><br>
        <label for="listing[location]"><b> Location: </b></label><br>
        <input size="50" type="text"  name="listing[location]" value="<%=listing.location%>">
        <br><br>
        <label for="listing[country]"><b> Country: </b></label><br>
        <input size="50" type="text"  name="listing[country]" value="<%=listing.country%>">
        <br><br>
        
        <button type="submit">Edit</button>
    </form>
</body>
</html>